<header class="vistax-header">
  <div class="brand">
    <span class="logo">VistaX</span>
    <span class="v-status" id="mqtt-status">ONLINE</span>
  </div>
  <div class="kpi-container">
    <div class="kpi">
      <small>VELOCIDAD</small>
      <div><span id="txt-vel">0.0</span> <small>km/h</small></div>
    </div>
    <div class="kpi">
      <small>PROMEDIO</small>
      <div><span id="txt-avg">0.0</span> <small>s/m</small></div>
    </div>
    <div class="kpi">
      <small>DOSIS</small>
      <div><span id="txt-dosis">0.0</span> <small>kg/ha</small></div>
    </div>
    <div class="kpi">
      <small>BATERÍA</small>
      <div><span id="txt-bat">13.8</span> <small>V</small></div>
    </div>
  </div>
</header>
